.Settings {
  opacity: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 10px;
  border-radius: 10px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
  transition: all 0.5s ease-in-out;


.Close{
  position: absolute;
  right: 7px;
  top:0px;
  margin: 0 5px;
  width: min-content;
  font-weight: 600;
  font-size: 25px;
  border: unset;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: unset;
  color: white;
  
  &:focus { outline:none }
  
}
  .Options{
    display: flex;
  }

  .Inputs {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
  }
.Input-error{
  text-align: center;
  color:darkred;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
  label {
    color: white;
    font-family: var(--main-font);
    // font-family: "Sniglet", cursive;
  }
  .Input,
  .Select {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 0;
    outline-width: 0;
    padding: 2px 8px;
    min-width: 200px;
    box-sizing: border-box;
  }

  .DynamicList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    p {
      margin: unset;
    }

    .DelleteLink {
      height: min-content;
      border: none;
      border-radius: 100%;
      background-color: unset;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
      cursor: pointer;
      &:focus { outline:none }
    }
  }
  .Contacts{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    text-decoration: none;

       &:hover{
       cursor: pointer;
       }
  }

}
