.Footer {
  
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin: auto;
  z-index: 1;
  height: 100px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 1;


.Creator {
 background-color: unset;
 color: lightgrey;
border: unset;
font-size: 40px;
font-weight: 500;
 font-family: var(--thrid-font);

 &:focus { outline:none }
}
}