.Weather{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 50vw;
        top: 60px;
        right: 60px;
        margin: auto;
        z-index: 2;  
        padding: 40px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        font-weight: 600;
        font-family: var( --main-font);

.Weather-station{
    font-size: 40px;
    margin: 0;
}
        .Weather-condition{
            margin-top: 0;
            margin-bottom: 20px;
        }
        .Weather-time{
            margin: 0;
        }
        .Weather-source{
            margin: 0;
            color: white;
        }
        .Weather-icon {
           
        .Svg{
            width: 200px;
               height: 200px;
        }
    }
}

.Loading{
    height: 300px;
}